* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(./image/bg.jpg);
  background-size: cover;
  background-position: center;
}
.container {
  width: 700px;
  margin: 6rem auto;
  overflow: hidden;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
  border: 7px solid rgba(255, 255, 255, 0.6);
}
.container figure {
  width: 335px;
  position: absolute;
  top: 0;
  left: 50px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease-in-out;
}

.container > figure {
  position: relative;
  left: 0 !important;
}

.container img {
  width: 100%;
  display: block;
}
.container input {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  left: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.container input:checked {
  width: 5px;
  left: auto;
  right: 0px;
}
.container input:checked ~ figure {
  left: 335px;
  transition: all 0.7 ease-in-out;
}
.container figcaption {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(87, 73, 81, 0.1);
  transition: all 0.2 linear;
}
.container figcaption span {
  position: absolute;
  top: 40%;
  left: 20px;
  right: 20px;
  filter: alpha(opacity=0);
  background: rgba(87, 73, 81, 0.4);
  line-height: 20px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  letter-spacing: 4px;
  padding: 20px;
  font-weight: 700;
  overflow: hidden;
  margin-top: -30px;
  opacity: 0;
}
.container input:checked + figcaption,
.container input:checked:hover + figcaption {
  background: rgba(87, 73, 81, 0);
}
.container input:checked + figcaption span {
  transition: all 0.4s ease-in-out 0.5s;
  filter: alpha(opacity=99);
  opacity: 1;
  top: 50%;
}

.container #last-selector:checked + figcaption span {
  transition-delay: 0.3s;
}
.container input:hover + figcaption {
  background: rgba(87, 73, 81, 0.03);
}

.container input:checked ~ figure input {
  z-index: 1;
}
